* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
}


body {
    height: 100vh;
}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
    
}

.plano-de-fundo {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    width: 100vw;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(36deg, rgba(2,0,36,0.8742668942577031) 25%, rgba(51,51,129,0.5269279586834734) 50%, rgba(21,27,29,0.8686646533613446) 75%);
    position: fixed;
    top: 0;
    
    
}

.caixa-pricipal {
    width: 50%;
}

.logo-mario {
    height: 200px;
    margin-bottom: 30px;
}

 button {
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    padding: 10px 0;
    border-radius: 3px;
    background-color: #C51111;
    width: 200px;
    height: 50px;
    color: white;
    cursor: pointer;
    margin-top: 40px;
}

.imagen-mario-luigi {
    height: 500px;
}